<div style="min-height: 1000px; background-color: #fefefe">
  <section id="cdec" class="container">
    <img src="../../../assets/cdecboIsologotipo.png" style="width: 300px; border-radius: 100%">
      <h3 id="cdec-mision">
        Inspiramos a la siguiente generación de científicos y emprendedores Bolivianos conectándolos
        con científicos y emprendedores de insituciones líderes del mundo.
      </h3>
  </section>

  <section id="losclubes" class="container">
    <h1>Los Clubes</h1>
    <h2 id="descripcion-talleres">
      Talleres intensivos de 5 dias basados en proyectos
      dictados por expertos mundiales en los temas,
      quienes vienen a Bolivia a inspirar a la siguiente generación de científicos
      y emprendedores.
    </h2>

    <div id="clubes">
      <h2>Clubes 2018</h2>
      <div class="club">
        <div class="club-titulo">
          Diseñándose para crear
        </div>
        <div class="club-descripcion">
          Instructores: Wilson Claure (Stanford University)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Mirando al mundo desde los ojos de un científico social
        </div>
        <div class="club-descripcion">
          Instructor: Bruno Lopez Videla (University of California San Diego)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          ¿Qué Pasó?: Percepciones, Neurogénesis, y Manipulación Cerebral
        </div>
        <div class="club-descripcion">
          Instructor: Giovanni Carosso (Johns Hopkins University)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Bioinformática y Minería de Datos
        </div>
        <div class="club-descripcion">
          Instructor: Pablo Ortiz (Yale University)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Aumentando nuestro sistema sensorial con tecnología
        </div>
        <div class="club-descripcion">
          Instructor: Thomas Sanchez Lengeling (Massachusetts Institute of Technology)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Reescribiendo la vida
        </div>
        <div class="club-descripcion">
          Instructor: Leonardo Ferreira (University of California San Francisco)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Modelando al Interior del Cuerpo Humano
        </div>
        <div class="club-descripcion">
          Instructor: Sebastian Torres (Laboratorio de Co-creacion en Salud)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Big Data e Inteligencia Artificial aplicados a nuestra vida
        </div>
        <div class="club-descripcion">
          Instructor: Miguel Pelaez (Tecnatom SA)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Combatiendo epidemias
        </div>
        <div class="club-descripcion">
          Instructor: David Soeiro (Universidade Federal de Minas Gerais)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Herramientas genéticas para entender enfermedades neurologicas
        </div>
        <div class="club-descripcion">
          Instructora: Dalila Ordonez (Harvard University)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          La tecnología se encuentra con los negocios
        </div>
        <div class="club-descripcion">
          Instructor: Pablo Contreras (Salesforce)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Moléculas y Bacterias: Explorando el potencial del microbioma
        </div>
        <div class="club-descripcion">
          Instructor: Soad Bohorquez (Harvard Medical School)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Talento estratégico: mujeres + ciencia + liderazgo transformacional
        </div>
        <div class="club-descripcion">
          Instructora: Paola Hernandez (Keck Graduate Institute)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          De micro a macro: principios de microscopía
        </div>
        <div class="club-descripcion">
          Instructora: Diana Alatriste (Berlin University of Medicine)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Trasplantes celulares para curar la diabetes
        </div>
        <div class="club-descripcion">
          Instructor: Christian Schuetz (Massachusetts General Hospital)
        </div>
      </div>

      <div class="club">
        <div class="club-titulo">
          Hacking Medicine Bolivia - HackMedBo 2.0
        </div>
        <div class="club-descripcion">
          Instructor: Juan Sebastián Osorio (GEMEDCO SAS y HumaneX)
        </div>
      </div>
    </div>

  </section>

  <section id="como-aplicar" class="container">
    <h1>Como aplicar</h1>
    <h2 id="descripcion-talleres">
      Anunciamos una convocatoria cada 6 de Agosto, habilitada por 30 dias, donde alumnos pueden aplicar por medio de esta pagina.     </h2>
      <h2 id="descripcion-talleres">
      No lo olvides!
      </h2>
   
    </section>

  <section id="patrocinadores" class="container">
    <div class="grupo-patrocinadores" style="border-bottom: solid lightgray 1px">
      <h2>Patrocinadores Extranjeros</h2>
      <img src="../../../assets/hackbo/patrocinadoresExtranjeros.png">
    </div>
    <div class="grupo-patrocinadores">
      <h1>Patrocinadores Locales</h1>
      <img src="../../../assets/hackbo/patrocinadoresLocales.png">
    </div>
  </section>

</div>
