<div style="min-height: 1000px; background-color: #fefefe">
  <div id="cdec" class="seccion">
      <!--<h1>Clubes de Ciencia</h1>-->
    <img src="../../../assets/cdecboIsologotipo.png" style="width: 300px; border-radius: 100%">
      <h3 id="cdec-mision">
        Inspiramos a la siguiente generación de científicos y emprendedores Bolivianos conectándolos
        con científicos y emprendedores de insituciones líderes del mundo.
      </h3>
  </div>

  <div id="losclubes" class="seccion">
    <h1>Los Clubes</h1>
    <h2 id="descripcion-talleres">
      Talleres intensivos de 5 dias basados en proyectos
      dictados por expertos mundiales en los temas,
      quienes vienen a Bolivia a inspirar a la siguiente generación de científicos
      y emprendedores.

    </h2>
    <div id="clubes">
    </div>
  </div>

  <div id="lista-instructores" class="seccion">
    <h1>Los instructores</h1>
  </div>

  <div id="como-aplicar" class="seccion">
    <h1>Cómo aplicar</h1>
  </div>

  <div class="seccion">
    <h1>Patrocinadores</h1>
  </div>

</div>
