p {
  opacity: 1;
  font-size:1.2em;
  font-weight: bolder;
  font-family: 'Roboto';
  line-height: normal;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: #3e3e3e;
}
section {
  min-height: 450px;
  border-bottom: solid #003c00 2px;
  color: rgba(27, 33, 30, 0.75);
  padding-bottom: 50px;
}

#cdec {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
#cdec-mision {
  padding-top: 0px;
  font-weight: 300;
  max-width: 750px;
  margin: auto
}

#losclubes {
  border-bottom: solid #003c00 2px;
  height: auto;

}

.clubes {
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
  font-size:1.2em;
  font-weight: bolder;
  font-family: 'Roboto';
  line-height: normal;
  margin-right: 1em;
  h2 {
    font-size: 30px;
    color: #1f1f1f;
  }
}

.clubScz {
  padding: 20px;
  background-color: #61b674;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;

}
.clubDC {
  padding: 20px;
  background-color: #ce454e;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.club-titulo {
  color:  white;
  font-size: 30px;
  //color: #1f1f1f;
}

.club-instructor {
  color: white;
}

.club-descripcion {
  margin-top: 20px;
  color: white;
  //background-color: whitesmoke;
}

.descripcion-talleres {
  padding: 20px 0 20px 0;
  font-weight: 300;
}

#patrocinadores {
  background-color: white;
  .row {
    padding-bottom: 30px;
  }
  img {
    width: 800px;
  }
  .grupo-patrocinadores {
    padding-top: 40px;
  }
}


@media (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    opacity: 1;
    font-size:1.2em;
  }
}


@media (max-width: 900px) {
  #patrocinadores {
    img {
      width: 700px;
    }
  }
}
@media (max-width: 800px) {
  #patrocinadores {
    img {
      width: 500px;
    }
  }
}
@media (max-width: 550px) {
  #patrocinadores {
    img {
      width: 300px;
    }
  }
}


.collapsing {
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}


#como-aplicar {
  button{
    font-size: 30px;
  }
  min-height: 300px;
}

.user {

  display: inline-block;
  min-width: 275px;
  //height: 275px;
  //margin-bottom: -7px;

  background-repeat: no-repeat;
  //background-position: center center;
  background-size: cover;
  //background-attachment: fixed;
  background-position: center;

}

.lpc {
  background-image: url('./../../../assets/alum/lpc.jpeg');;
}

.fg {
  background-image: url('./../../../assets/alum/fg.jpeg');;
}

#testimonios {
  padding-bottom: 10px!important;
}


.testimonio, .reversedTestimonio {
  display: flex;
  background-color: white;
  margin-top: 40px;

  //align-items: center;
  box-shadow: 2px 2px 7px 1px rgb(142, 142, 142);
  .texto {
    font-style: italic;
    text-align: left;
    font-size: 16px;
    padding: 50px;
    line-height: 22px;
    font-weight: bolder;
    color: #535353;
    .estudiante {
      font-size: 18px;
    }
  }

}

@media (max-width: 800px) {
  .reversedTestimonio {
    flex-direction: column-reverse!important;
  }
  .testimonio {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .testimonio, .reversedTestimonio {
    padding: 4px;
    .texto {
      font-size: 16px;
      padding: 30px;
      line-height: 20px;
    }


  }
}

@media (max-width: 992px) {
  .container {
    max-width: none!important;
  }
}
@media (max-width: 800px) {
  .user {
    display: inline-block;
    min-width: 275px;
    min-height: 275px;
  }

}


.mainDiv {
  background-color: #52bb6a;
}

.titulo {
  //color:transparent;
  color: white;
  font-size: 50px
}

.verMasTestimoniosDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  button {
    font-size: 25px;
  }
}

.textoConBoton {
  padding-bottom: 10px!important;
}
.verTestimonioCompleto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  button {
    color: white;
  }

}
