h1 {
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
  color: #1f1f1f;
}
.seccion {
  height: 450px;
  border-bottom: solid #003c00 2px;
  color: rgba(27, 33, 30, 0.75);
}
#cdec {




}

#cdec-mision {
  padding-top: 0px;
  font-weight: 300;
  max-width: 750px;
  margin: auto
}

#losclubes {
  background-color: #f5f5f5;
  height: 400px;
  border-bottom: solid #003c00 2px;

}

#descripcion-talleres {
  padding: 20px 50px 20px 50px;
  font-weight: 300;
}

#lista-instructores {

}

#como-aplicar {
  background-color: #f5f5f5;
}
