<div id="symbo" style="background-color: whitesmoke">
  <div>
    <div id="symbo-title" class="container">
      <h1>SymBo</h1>
    </div>
    <div id="symbo-descripcion">
      El Simposio de Ciencia y Tecnología; SYMBO es un evento de Clubes de Ciencia Bolivia organizado para personas externas
      al club con deseos de conocer más sobre la importancia de la ciencia y tecnología en la sociedad.  SYMBO es dirigido por instructores internacionales y emprendedores bolivianos para compartir presentaciones al público asistente.
    </div>
  </div>
</div>
