.user {

  display: inline-block;
  min-width: 275px;
  //height: 275px;
  //margin-bottom: -7px;

  background-repeat: no-repeat;
  //background-position: center center;
  background-size: cover;
  //background-attachment: fixed;
  background-position: center;

}
  #misionbody{
    background-color: rgba(245, 245, 245, 0.4);
    p{
        opacity: 1;
        font-size:1.2em;
        font-weight: bolder;
        font-family: 'Roboto';
        line-height: normal;
        margin-right: 1em;
    }
  }
  section {
    min-height: 700px;
    //background-color: white;
  }

  .olm {
    background-image: url('./../../../assets/alum/olm.png');;
  }

  .nmdo {
    background-image: url('./../../../assets/alum/nmdo.png');;
  }

  .csb {
    background-image: url('./../../../assets/alum/csb.jpg');;
  }

  .jdc {
    background-image: url('./../../../assets/alum/jdc.jpg');;
  }

  .cacg {
    background-image: url('./../../../assets/alum/cacg.jpg');;
  }

  .vl {
    background-image: url('./../../../assets/alum/vl.png');;
  }

  .jea {
    background-image: url('./../../../assets/alum/jea.jpg');;
  }

  .gc {
    background-image: url('./../../../assets/alum/gc.jpg');;
  }

  .sc {
    background-image: url('./../../../assets/alum/sc.png');;
  }


.testimonio, .reversedTestimonio {
  display: flex;
  background-color: white;
  margin-top: 40px;

  //align-items: center;
  box-shadow: 2px 2px 7px 1px rgba(32, 114, 36, 0.82);
  .texto {
    font-style: italic;
    text-align: left;
    font-size: 20px;
    padding: 50px;
    line-height: 25px;
    font-weight: bolder;
    color: #535353;
    .estudiante {
      font-size: 18px;
    }
  }

}

@media (max-width: 800px) {
  .reversedTestimonio {
    flex-direction: column-reverse!important;
  }
  .testimonio {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .testimonio, .reversedTestimonio {
    padding: 4px;
    .texto {
      font-size: 16px;
      padding: 30px;
      line-height: 20px;
    }


  }
}

@media (max-width: 992px) {
  .container {
    max-width: none!important;
  }
}
@media (max-width: 800px) {
  .user {
    display: inline-block;
    min-width: 275px;
    min-height: 275px;
  }
}


.mainDiv {
  background-color: #52bb6a;
 }

.titulo {
  //color:transparent;
  color: white;
  font-size: 50px
}
