<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1516254092588-170acff77587?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd9385cfb8541f1adb600e45bc894d56&auto=format&fit=crop&w=1512&q=80');">
  <div class="container">
    <h1 style="color:#1e1e1e;">Testimonios: Exalumnos de Clubes de Ciencia Bolivia</h1>
    <div class="card d-flex flex-row" id="misionbody">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
          <div class="user csb">
          </div>
          </div>
          <div class="col-sm">
            <p>"Soy de la ciudad de Tarija. Actualmente curso el tercer año de la carrera de ingeniería química. Personalmente
              asistir a Clubes de Ciencia fue una de los mejores experiencias que tuve, por que aprendí a tener una visión
              mas clara de mis proyectos futuros, aprendi a valorar mas las ciencias desde otra perspectiva, y sobre todo
              conocí personas increíbles y amigos muy especiales." – Camila Soliz
            </p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
          <div class="user olm">
          </div>
          </div>
          <div class="col-sm">
            <p>"Clubes de ciencia me ayudó a despertar de un encasillamiento mostrándome formas de aprendizaje y estudios novedosos
              de calidad mundial pero también fue una experiencia en la que hice nuevos amigos, amigos con los que comparto
              mis gustos científicos y con los que llevaremos a Bolivia a un futuro con ciencia de calidad mundial". – Lorgio
              Mendoza
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1520631435254-6d2a025d9989?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45c5264bd284f43d606606ece650452c&auto=format&fit=crop&w=1350&q=80');">
  <div class="container">
    <div class="card d-flex flex-row" id="misionbody">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
          <div class="user jdc">
          </div>
          </div>
          <div class="col-sm">
            <p>"Fue una experiencia extraordinaria y muy util haber participado de los Clubes de Ciencia Bolivia, porque vimos
              y aprendimos cosas que tal vez no se enseñan ni en la universidad.Es emocionante saber que cientificos de tan
              prestigiosas instituciones vienen a enseñarte parte de sus conocimientos cientificos sin costo alguno. Realmente
              me sirvio bastante porque instigo en mi esa curiosidad por las ciencias que puede ser el impulso que me ayude
              en mi vocacion. Fue de gran beneficio." - José Daniel Caballero
            </p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-sm-4">
            <div class="user cacg">
            </div>
            </div>
            <div class="col-sm">
              <p>"Mi participacion en Clubes de Ciencia alimento mucho mas el amor que siento por la investigacion, conocer
                a otros chicos del pais apasionados por la ciencia y a los instructores que estan realizando labores muy
                importantes en diferentes paises, que no se rinden y que van tras sus sueños, mostrandonos que el saber es
                muy importante y que hay mucho todavia por hacer y conocer. No abandonar la meta, talvez cambiar el plan,
                pero no la meta" – Carla Calle
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-sm-4">
            <div class="user nmdo">
            </div>
            </div>
            <div class="col-sm">
              <p>“Asistí a los Clubes de Ciencia 2017, al club de Principios de vuelo y diseño de aviones. Mis planes para el
                futuro son estudiar Ingeniería Aeroespacial ambicionando llegar a una agencia espacial y dedicarme mas a
                enseñar las ciencias puras a los jóvenes; así incentivar el gusto por el hermoso mundo de la ciencia. Los
                clubes de ciencia fueron una hermosa y enriquecedora experiencia, aprendí cosas muy interesantes divirtiéndome
                y conocí amigos que comparten mi gusto por la ciencia. ¡Fue una gran experiencia!” <br/> – Nikki Montes de Oca
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1525079576157-ecbab2917606?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=093eca354fcb864fbeec497b6abd8084&auto=format&fit=crop&w=1350&q=80');">
  <div class="container">
    <div class="card d-flex flex-row" id="misionbody">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
          <div class="user gc">
          </div>
          </div>
          <div class="col-sm">
            <p>
              Clubes de Ciencia Bolivia me dio la confianza que necesitaba para hacer proyectos que beneficiarán a Bolivia. Ahora soy una
              persona con muchas aspiraciones personales y un anhelo ''Bolivia quiere ciencias'. Clubes de Ciencia Bolivia
              es el impulso que todos los estudiantes bolivianos necesitamos, para ser personas de mucho beneficio para nuestro
              país y el mundo." – Gustavo Cadiz
            </p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-sm-4">
            <div class="user jea">
            </div>
            </div>
            <div class="col-sm">
              <p>"Soy de Santa Cruz y estudio Administración de Empresas en la Universidad Evangélica Boliviana gracias a la
                Beca CRE. Ingrese al Centro Boliviano Americano gracias a la Beca Access hace 2 años actualmente estudio
                ahí con la Beca Ayuda Social. También estoy interesada en las artes (especialmente Teatro), ciencias y educación.
                Soy voluntaria de “Tu Ciencia Joven Santa Cruz” y del programa “Mercados amigos de la Niñez”. Este año tuve
                la maravillosa oportunidad de estar en los Clubes de Ciencia de Bolivia 2017 en el club Iniciativa Empresarial
                Científica, que para mí ha sido una experiencia inolvidable: conocer a otros jóvenes de todo el país que
                también están apasionados por las ciencias, y los instructores todos muy carismáticos y bien preparados.
                Estar en los CdeCBo es una experiencia única que te abre muchas puertas y se los recomiendo a todos los jóvenes
                con pasión por las ciencias." – Jeanine Estrada
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1514908182826-bef1b9513694?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=90b8de6becc4ee98c7a269dda983884d&auto=format&fit=crop&w=1350&q=80');">
  <div class="container">
    <div class="card d-flex flex-row" id="misionbody">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
          <div class="user sc">
          </div>
          </div>
          <div class="col-sm">
            <p>
              "Soy estudiante de la Carrera de Biología en la UAGRM. Lo que puedo decir es que mientras más me adentro en la biología,
              me doy cuenta que lo fantástico está en los lugares menos esperados y, citando al Marcel Proust, "el verdadero
              viaje del descubrimiento no consiste en buscar nuevos paisajes, sino en tener nuevos ojos". Eso es lo que quiero
              enseñar a los demás. Clubes de Ciencia me inspiró a plantearme metas mayores y me conectó con gente que vive
              animada por la voluntad de expandir sus horizontes, no solo para ellos mismos." – Scarlet Quiroga
            </p>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="card-body">
              <div class="row">
                  <div class="col-sm-4">
                <div class="user vl">
                </div>
                </div>
                <div class="col-sm">
                  <p>
                    "Soy cruceña. Estudio Arquitectura y Urbanismo en la Universidad Federal de Santa Cataria en Florianópolis, Brasil. Además
                    estoy participando de un curso de EDX de Harvard sobre Imaginación Arquitectónica. Participe del club
                    "Hacking Medicine", donde entendí la importancia del uso de la ingeniería en la medicina, y la conexión
                    que tienen que tener las carreras hasta la que yo estoy estudiando para lograr tener estudios completamente
                    eficaces. El club me dejo muy buenas enseñanzas, pero más que todo abrió mi interés por seguir aprendiendo!
                    Estoy esperando con ansías esta nueva edición de Clubes de Ciencia Bolivia." – Maria Victoria Landivar
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>