a {
    text-decoration: none;
}
.navbar {
  background-color: white!important;
  border-bottom: solid lightgray 1px;
}
.important-btn{
   background-color: #b20303;
   color: whitesmoke !important;
   border-radius: 5%;
}

    nav{
        padding-top: 0.1em;
        padding-bottom: 0.2em;
        padding-left: 5em;
        padding-right: 5em;

        position: sticky;
        top: 0;
        z-index: 100;
    }
.logo {
  height: 60px;
}

@media (max-width: 920px){
  nav {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
}
@media (max-width: 400px){
  .logo {
    height: 40px;
  }
}


a{
    font-family: 'Roboto';
}



.navlinkPage {
  font-weight: bolder;
  margin-top: 7px;
  color: #535353 !important;
}
