 <section id="faq" class="text-left">
 	<div class="container">
 		<div class="card">
 			<h5 class="card-header">¿Dónde se realizan los Clubes de Ciencia Bolivia?</h5>
 			<p class="card-body">Por primera vez los talleres de Clubes de Ciencia Bolivia tendrán dos sedes: del 6 al 8 de
        Octubre del 2018 en Washington D.C., EEUU y del 4 al 8 de Enero del 2019 en Santa Cruz de la Sierra, Bolivia.</p>
 		</div>
    <div class="card">
      <h5 class="card-header">¿Hasta que fecha puedo aplicar para ser parte de los talleres de Clubes de Ciencia Bolivia?</h5>
      <p class="card-body">Sede Washington D.C: Aplica hasta el 15 de septiembre del 2018.<br>
        Sede Santa Cruz de la Sierra: Aplica hasta el 30 de septiembre del 2018.</p>
    </div>
 		<div class="card">
 			<h5 class="card-header">¿Cuál será el costo de atender los programas de Clubes de Ciencia Bolivia?</h5>
 			<p class="card-body"> ¡Hacemos todo esfuerzo posible para que los programas de Clubes de Ciencia Bolivia sean completamente gratuitos para todos los participantes!</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">Me encanta la idea de este programa pero no vivo en Santa Cruz, ¿Puedo participar?
 			</h5>
 			<p class="card-body">Nuestras convocatorias están abiertas a estudiantes de todo el país. Sin embargo, en estos momentos la organización no puede cubrir los costos asociados al transporte y hospedaje en Santa Cruz, y estos serán responsabilidad de cada participante.</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">¿Qué edad debo tener para participar en Clubes de Ciencia Bolivia?</h5>
 			<p class="card-body">Nuestros estudiantes deben tener entre 15 y 22 años cumplidos al momento de aplicar. Clubes de Ciencia Bolivia está diseñado exclusivamente para este rango de edades y los fondos que tenemos para este programa NO nos permiten hacer excepciones ni tener oyentes. De ser aceptad@ en el programa, te pediremos la documentación correspondiente que certifique tu edad. Recuerda que representarse falsamente en una aplicación corresponde a un delito de falsedad ideológica, penado por las leyes Bolivianas.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">¿En que curso debo estar para participar en Clubes de Ciencia Bolivia?</h5>
 			<p class="card-body">Salvo que nuestra convocatoria indique lo contrario, los programas de Clubes de Ciencia Bolivia son exclusivamente diseñados para estudiantes que estén entre 5to de secundaria a 3er año de universidad AL MOMENTO DE APLICAR.  Clubes de Ciencia Bolivia está diseñado exclusivamente para este rango de cursos y los fondos que tenemos para este programa NO nos permiten hacer excepciones ni tener oyentes. De ser aceptad@ en el programa, te pediremos la documentación correspondiente que certifique tu nivel académico. Recuerda que representarse falsamente en una aplicación corresponde a un delito de falsedad ideológica, penado por las leyes Bolivianas.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">¿Cómo es el proceso de selección?¿Que busca el comité de admisiones?</h5>
 			<p class="card-body">En Clubes de Ciencia Bolivia nos enorgullecemos de utilizar un sistema holístico de admisión. Esto quiere decir que evaluamos diversos factores más allá del éxito académico, incluyendo: interés en las ciencias, sentido comunitario e historial de liderazgo. Un participante promedio de Clubes de de Ciencia Bolivia no es solamente un buen estudiante, sino también un líder en su comunidad y demuestra emprendimiento y compromiso social.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">Tengo buenas notas, cumplo con los requisitos de edad y de curso, pero mi aplicación fue rechazada. ¿Por qué?</h5>
 			<p class="card-body">Recuerda que nuestro sistema de admisión es un sistema holístico, lo cual significa que tomamos en cuenta otros aspectos de admisión más allá de los requisitos mínimos. En promedio solo el 15-20% de los aplicantes que cumplen con los requisitos mínimos de admisión son eventualmente admitidos en nuestro programa.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">Estoy estudiando mi segunda carrera ¿Puedo participar?</h5>
 			<p class="card-body">Lamentablemente NO. Para validar tu participación, Clubes de Ciencia Bolivia se considerará tu nivel de educación más alto. Ten en mente que generalmente nuestros estudiantes son menores de 22 años.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header"> Quiero incrementar mis chances de ser admitido ¿Puedo aplicar más de una vez por edición?</h5>
 			<p class="card-body">Absolutamente NO. El tiempo del comité de admisiones es extremadamente limitado y aplicar más de una vez es un mal uso de su tiempo. Por eso, si aplicas más de una vez serás automáticamente rechazado de este y los próximos programas de Clubes de Ciencia Bolivia.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">No cumplo con todos los requisitos pero quiero probar mi suerte y ver que pasa. ¿Puedo aplicar?</h5>
 			<p class="card-body">Absolutamente NO. De ser admitido en uno de nuestros programas te pediremos la documentacion que certifique que cumples cada requisito. El tiempo de nuestro comité de admisiones y del equipo de verificación de documentos es extremadamente limitado y por tanto te pedimos no desperdiciarlo evaluando aplicaciones que despues no serán admisibles. Si aplicas sin cumplir los requisitos mínimos de admisión serás permanentemente rechazado de todos los programas presentes y futuros de Clubes de Ciencia Bolivia. Recuerda que representarse falsamente en una aplicación corresponde a un delito de falsedad ideológica, penado por las leyes Bolivianas.</p>
 		</div>
 		<div class="card">
 			<h5 class="card-header">¿Por qué sólo habrá clubes en la ciudad de Santa Cruz de la Sierra y Washington D.C.? ¡Yo quiero clubes en mi ciudad!</h5>
 			<p class="card-body">Actualmente la organización ha decidido tener como sede la ciudad de Santa Cruz de la Sierra y Washington D.C, por haber cumplido las condiciones requeridas en temas de logística y auspiciadores. Generalmente, nosotros recibimos aplicaciones de universidades de todo el país y evaluamos distintos factores incluyendo reputación de la universidad, calidad de la infraestructura, experiencia y sustentabilidad económica. Ahora anunciamos la nueva Sede Washington D.C. gracias al apoyo de la embajada boliviana en esa ciudad. De igual manera cumpliendo con todos los requisitos para ser sede.</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">Yo quiero participar en clubes de ciencia pero no puedo hacerlo con Clubes de Ciencia Bolivia por el lugar/fecha/requisitos/etc. ¿Cómo participo?</h5>
 			<p class="card-body"> ​No necesitas de Clubes de Ciencia Bolivia para hacer un proyecto que favorezca a la ciencia en el país. Hay muchísimas maneras de hacerlo: busca otras instituciones, y únete con tus amigos/as, colegas y universidades y diseñen un proyecto. Hay mucha gente capaz para enseñar ciencia y gente que quiere aprender ciencia. Si aún así quieres apoyar a Clubes de Ciencia Bolivia, hay muchas maneras de hacerlo además de dictar un Club de Ciencia. Si eres investigador(a), profesor(a) o estudiante y tienes una idea de cómo apoyar escríbenos un correo a contacto@clubesdecienciabolivia.com.
        <br><a href="https://www.youtube.com/watch?v=snNkDk0X-JU">¿Por qué auspiciar CdeCBo?</a></p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">¿Por qué traer instructores residentes en el extranjero? ¿Por qué no sólo instructores de Bolivia? ¿Por qué lo decidieron de esa manera?</h5>
 			<p class="card-body"> ​Reconocemos completamente la capacidad y el talento excepcional de profesores y estudiantes en Bolivia. Los organizadores de esta iniciativa somos hispanoamericanos, incluyendo bolivianos. Con este antecedente en mente, nuestro modelo actual surge de usar la experiencia y el conocimiento extra adquirido por el instructor en estos países, el cual queremos compartir ágilmente colaborando con el talento boliviano. Cada Club de Ciencia estará planeado por un equipo de instructores, uno proveniente del extranjero y un residente boliviano. Tener un equipo de instructores de Bolivia y del extranjero tiene, desde nuestra perspectiva, muchas ventajas: Crea la posibilidad de una futura colaboración e investigación entre instructores, enriquece los clubes con varias maneras de pensar/trabajar, y permitirá un apoyo para los jóvenes con talento local e internacional.</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header"> Me gustaría que este programa sea un éxito ¿Cómo puedo apoyar?</h5>
 			<p class="card-body">Siempre estamos en busca de colaboradores y auspiciadores para poder admitir más estudiantes, llevar más instructores y, por lo tanto, tener más clubes. Si tienes una empresa u organización o conoces alguna persona/institución que creas pueda ser auspiciador, por favor contáctanos a contacto@clubesdecienciabolivia.com</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">Soy un miembro de una institución boliviana y quisiera que mi institución sea sede de los Clubes de Ciencia ¿Cómo podemos aplicar?</h5>
 			<p class="card-body">¡Muchas gracias por tu interés en Clubes de Ciencia Bolivia! Siempre estamos a la búsqueda de nuevos socios en esta iniciativa. Si tu institución desea ser sede de los Clubes de Ciencia, por favor, escríbenos contacto@clubesdecienciabolivia.com. En general, la decisión de la universidad sede se realiza en base a aplicaciones. Si tu institución desea ser sede del evento, te pedimos enviarnos una descripción detallada de tu infraestructura, capacidad logística y experiencia en eventos similares.</p>
 		</div>

 		<div class="card">
 			<h5 class="card-header">Soy un miembro de la prensa y quisiera hacer una nota sobre este programa, ¿Cómo los puedo contactar?</h5>
 			<p class="card-body">¡Gracias por tu interés en Clubes de Ciencia Bolivia! Como miembro de prensa tú eres un colaborador importante para el éxito de este programa. Por favor no dudes en contactarnos a contacto@clubesdecienciabolivia.com</p>
 		</div>
 	</div>
 </section>
<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://i.pinimg.com/originals/9f/c5/52/9fc5529a8877a4448aab8d8a834f8b56.jpg');">
    <div class="container">
        <div class="card d-flex flex-row" id="misionbody" >
            <div class="card-body" style="width: 50%;">
                <p class="texto">contacto@clubesdecienciabolivia.com</p>

            </div>
        </div>
    </div>
</section>

