<nav-bar></nav-bar>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="py-5" style="background-color:#1e1e1e">
    <div class="container">
        <div class="row">
            <div class="col"><p class="m-0 text-white"> Clubes de Ciencia Bolivia &copy;</p></div>
            <div class="col"><fb-like href="https://www.facebook.com/ClubesDeCienciaBolivia/"  data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></fb-like></div>
        </div>
    </div>
</footer>