<div>
  <div id="hackbo-header">
    <h1>
      <span>&#60;</span>HackBo/>
    </h1>
    <img src="../../../assets/hackboIsotipo.svg" style="height: 150px">
    <br>
    <div class="img-footer">
      <h4>Clubes de Ciencia</h4>
      <h4>Hackathon</h4>
    </div>
    <div class="hb-fecha">
      28 de Julio - Santa Cruz de la Sierra, Bolivia
    </div>
  </div>
  <div id="hackbo-descripcion" class="row">
    <div id="div-video" class="col">
      <div class="hb-video">
        video
      </div>

    </div>
    <div id="descripcion-texto" class="col">
      <p>HackBo es un maratón donde desarrolladores se juntan para crear un proyecto de Software o Hardware en
      24 horas, presentando un prototipo que solucione un problema.
      </p>
      <br>
      <br>
      <p style="font-size: 18px;">
      El equipo que presente la mejor solución ganará 1000$.
      </p>
    </div>
  </div>
</div>
