p{
  opacity: 1;
  font-size:1.2em;
  font-weight: bolder;
  font-family: 'Roboto';
  line-height: normal;
  margin-right: 1em;
}

.py-5{
  background-color:#00978a;

  .row {
    margin: 0;
  }

}

.contenido {
  font-weight: 300;
  width: 70%;
  margin: auto;
  color: #fefefe;
}



.hb-fecha {
  padding-top: 70px;
}

.hb-video {
  width: 500px;
  height: 300px;
  margin: auto;

}
@media (max-width: 1200px) {
  .hb-video, .div-video {
    width: 400px;
    height: 250px;

  }
}
@media (max-width: 550px) {
  .hb-titulo {
    font-size: 40px;
    img {
      width: 300px;
    }
  }
  .hb-video, .div-video {
    width: 280px;
    height: 170px;
  }
  #hackbo-descripcion {
    padding: 10px;
    p {
      margin-left: 1em;
    }
    .row {
      margin: 0px;
    }
  }
}

#hackbo-faq {
  color: whitesmoke;
  border-top: solid #181517 1px;
  padding-bottom: 200px;
  background-color: #4a4a4a;
  line-height: 1.5;
  h1 {
    padding-top: 40px;
  }

  .row {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  text-align: center;
  .f-title {
    background-color: #00978a;
    color: #fefefe;
    padding: 15px 10px 10px 10px;
    height: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
  }

  .faq {
    padding-bottom: 40px;

  }
  .faq-respuesta {
    background-color: #fefefe;
    min-height: 150px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    color: #252121;
    text-align: left;
  }
}

#hackbo-equipo {
  background-color: #fefefe;
  padding-bottom: 50px;
  border-top: solid #181517 1px;
  h1 {
    padding-top: 40px;
    //color: #0058a5;
    color: #00978a;
  }

}

.card-equipo {
  img {
    border-radius: 100%;
    height: 200px;
    border: solid lightgray 1px;
  }
  text-align: center;
  padding: 30px 0 30px 0;

  p {
    margin: 0;
  }
}

#hackbo-patrocinadores {
  background-color: white;
  border-top: solid #181517 1px;
  h1 {
    padding-top: 40px;
    //color: #0058a5;
    color: #00978a;
  }
  img {
    width: 700px;
  }
}

.cardBody{
  background-color: rgba(245, 245, 245, 0.2);
  border-style: none;
  p{
    color:whitesmoke;
      opacity: 1;
  }
}

#ganadores {
  background-image: url('../../../assets/hackbo/hackbo18.jpg');
  background-size: cover;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  h1 {
    padding-top: 20px;
  }
}

@media (max-width: 770px) {
  #hackbo-patrocinadores {
    img {
      width: 500px;
    }
  }
}
@media (max-width: 500px) {
  #hackbo-patrocinadores {
    img {
      width: 300px;
    }
  }
}
