<div>
  <section class="py-5">
    <div class="container">
      <div class="row">

        <img src="../../../assets/hackbo/HackBoPortada.png" srcset="../../../assets/hackbo/HackBoPortada.png 1000w, ../../../assets/hackbo/HackBoPortada.png 2000w"
        alt="yah" class="rounded mx-auto d-block img-thumbnail">
      </div>
      <br/>
      <div class="col-lg-12">
        <h3  class="contenido">
         <b>28/29 de Julio en Santa Cruz de la Sierra</b>
        </h3>
      </div>
      <br/>
      <div class="col-lg-12">
        <h3 class="contenido">
          HackBo es un maratón donde desarrolladores de múltiples disciplinas se juntan para crear un proyecto de Software o Hardware
          en 24 horas, presentando un prototipo que solucione un problema.
        </h3>
      </div>
    </div>
  </section>
  <section class="py-5">

    <div class="row">

      <div class="col-sm-12 col-lg-6 div-video">
        <div class="hb-video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/R4ae-aFJV88"></iframe>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
          <br/>
          <h3 class="contenido">
             Este año 2018 vamos a introducir "Categorías" donde empresas patrocinadoras del evento podrán poner una temática que sea un reto para los participantes!
            </h3>
      </div>
    </div>
  </section>
  <section id="hackbo-faq" class="bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1521169893116-de8dc1b0ffe3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a72a698cc42de8708ce6286f649a2ef&auto=format&fit=crop&w=1349&q=80')">
    <div class="container">
      <h1>Preguntas Frecuentes</h1>
      <div class="row">
        <div class="col-12 col-lg-6 faq">
          <div class="f-title">
            Quiénes pueden participar?
          </div>
          <div class="faq-respuesta">
            Este evento esta orientado a estudiantes de últimos años de colegio o pre-grado de universidad.
          </div>
        </div>
        <div class="col-12 col-lg-6 faq">
          <div class="f-title">
            Tiene algún costo?
          </div>
          <div class="faq-respuesta">
            El evento es completamente gratuito, nosotros nos encargamos de proveer la comida, wifi y un ambiente de desarrollo.
          </div>
        </div>
        <div class="col-12 col-lg-6 faq">
          <div class="f-title">
            Donde será el evento?
          </div>
          <div class="faq-respuesta">
            El lugar será proximamente anunciado.
          </div>
        </div>
        <div class="col-12 col-lg-6 faq">
          <div class="f-title">
            Cuántos integrantes son por equipo?
          </div>
          <div class="faq-respuesta">
            Los interesados podrán participar en equipos de máximo cuatro personas. Es importante que por lo menos uno de ellos sepa
            programar para crear el desarrollo.
          </div>
        </div>
        <div class="col-12 col-lg-6 faq">
          <div class="f-title">
            Qué debo llevar?
          </div>
          <div class="faq-respuesta">
            Tienes que traer tu propia computadora o equipos electrónicos.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hackbo-equipo">
    <div class="container">
      <h1>El Equipo</h1>

      <div class="rows row" style="padding-top: 20px">

        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/gferrufino.jpg">
          <div>
            <br>
            <h5>Gustavo Ferrufino</h5>
            <p>Fundador de HackBo</p>
          </div>
        </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/lfkinn.png">
          <div>
            <br>
            <h5>Luis Fernando Kinn</h5>
            <p>Coordinador de HackBo</p>
          </div>
        </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
            <img src="../../../assets/hackbo/isaaguilera.png">
            <div>
              <br>
              <h5>Isabel Aguilera</h5>
              <p>Coordinadora de HackBo</p>
            </div>
          </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/ryanez.png">
          <div>
            <br>
            <h5>Rodrigo Yañez</h5>
            <p></p>
          </div>
        </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/rmertens.png">
          <div>
            <br>
            <h5>Ricardo Mertens</h5>
            <p></p>
          </div>
        </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/gvacadiez.png">
          <div>
            <br>
            <h5>Gustavo Vaca Diez</h5>
            <p></p>
          </div>
        </div>

        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
        <img src="../../../assets/hackbo/fsuarez.jpg">
        <div>
        <br>
        <h5>Francisco Javier Suarez</h5>
        <p></p>
        </div>
        </div>
        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/ptoledo.png">
          <div>
            <br>
            <h5>Pamela Toledo</h5>
            <p></p>
          </div>
        </div>
        <!--<div class="card-equipo col-sm-6 col-lg-4 align-content-center">-->
        <!--<img src="../../../assets/hackbo/gferrufino.jpg">-->
        <!--<div>-->
        <!--<br>-->
        <!--<h5>Clay Caballero</h5>-->
        <!--<p></p>-->
        <!--</div>-->
        <!--</div>-->

        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
          <img src="../../../assets/hackbo/rantelo.jpeg">
          <div>
            <br>
            <h5>Roberto Antelo</h5>
            <p></p>
          </div>
        </div>
        <!--<div class="card-equipo col-sm-6 col-lg-4 align-content-center">-->
        <!--<img src="../../../assets/hackbo/gferrufino.jpg">-->
        <!--<div>-->
        <!--<br>-->
        <!--<h5>Jorge Capobianco</h5>-->
        <!--<p></p>-->
        <!--</div>-->
        <!--</div>-->

        <div class="card-equipo col-sm-6 col-lg-4 align-content-center">
            <img src="../../../assets/hackbo/aestenssoro.png">
            <div>
              <br>
              <h5>Andres Estenssoro</h5>
              <p></p>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section>
      <div id="ganadores">
        </div>
  </section>
  <section class="bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1521169893116-de8dc1b0ffe3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a72a698cc42de8708ce6286f649a2ef&auto=format&fit=crop&w=1349&q=80')">

    <div class="container">
        <div class="card cardBody">
            <div class="col-lg-12">
                <h1 style="color:whitesmoke;"> Ganadores 2017</h1>
            </div>
            <div class="row">
                <div class="card-body">
                    <p >1er Lugar: Desarrolló un dispositivo (botón), que se comunica por medio de bluetooth con una aplicación
                      que alerta ante el peligro cuando una persona se siente insegura por las calles. Esta aplicación graba el audio,
                      y si no recibe ninguna validación de falsa alarma, envía un mensaje para comunicarse ya sea con la Policía o una
                      persona de confianza. Identificando la ubicación de la persona, y su entorno auditivo. Esto también pudiera funcionar
                      sin la necesidad de estar conectados a wifi. El audio es analizado con inteligencia artificial para saber el estado
                      emocional de la persona e identificar si corre algun peligro.
                    </p>
                  </div>
            </div>

              <div class="card-body">
                <p>
                  2do Lugar: Desarrolló un sistema que usa inteligencia artificial para traducir el lenguaje braille en audio.
                </p>
              </div>
              <div class="card-body">
                <p>
                  3er Lugar: Desarrolló una aplicación para una manilla (que ya es de uso comercial) que lee el pulso cardiaco
                  e identifica si uno está dormido o no y emite una alarma, para que de esta forma sea mas atento a sus responsabilidades
                  deseadas.
                </p>
              </div>
        </div>
    </div>
  </section>
  <section id="hackbo-patrocinadores">
    <div class="container">
      <h1>Patrocinadores 2017</h1>
      <div>
        <h2>
          En colaboración con:
        </h2>
        <img src="../../../assets/hackbo/hb-patrocinadores1.png" style="padding-bottom: 50px">
        <h2>
          Con el apoyo de:
        </h2>
        <img src="../../../assets/hackbo/hb-patrocinadores2.png">
      </div>
    </div>
  </section>
</div>
