@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body
{

    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*line-height: 1em;*/

    text-align: center;
    background-color: #444 ;
}



.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
